header {
    width: 980px;
    height: 50px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 350px 630px;


}

#topo {
    width: 100%;
    height: auto;


}

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #919191;
    background-color: #232323;
    font-family: Arial, Helvetica, sans-serif;
}

#header-contato {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0 0;
    font-size: 1.5em;
    font-weight: normal;
}

#grupo h1 {
    font-size: 2em;

}

#grupo h2 {
    font-size: 1em;
}

#header-contato li {
    display: inline-block;
    border-left: 1px solid #C0BAB6;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
}

#header-contato li:first-child {
    margin: 0;
    padding: 0;
    border: none;
}

#topo,
#topo a {
    color: #C0BAB6;
    background-color: #333333;
    text-decoration: none;
}

span.material-symbols-outlined {
    vertical-align: middle;
}

a {
    color: #FF9900;
    text-decoration: none;
}

nav {
    width: 980px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

nav ul {
    margin: 0px;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
}

nav li {
    display: inline-block;
    margin: 0 30px 0 0;
}

nav li a {
    display: block;
    padding: 20px 0;
    font-weight: bold;
}

nav.home li.link_home a,
nav a:hover {
    color: #919191;
}

nav.empresa li.link_empresa a, nav a:hover {
    color: #919191;
  }
  nav.servico li.link_servico a, nav a:hover {
    color: #919191;
  }

  nav.localizacao li.link_localizacao a, nav a:hover {
    color: #919191;
  }

  nav.contato li.link_contato a, nav a:hover {
    color: #919191;
  }
  
main {
    width: 980px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
}

.sectionMain {
    width: 190px;
    height: 300px;
    border: 1px solid #CCC;
    border-radius: 20px;
    padding: 10px;
}

.sectionMain h1 {
    text-align: center;
}

.sectionMain p {
    line-height: 20px;
    text-align: justify;

}

.sectionMain article {
    height: 250px;
}

.sectionMain footer {
    text-align: center;
}

.botão {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    padding: 5px 15px;
}

a.botão {
    color: #FFF;
    border: 1px solid;
    border-radius: 5px;
}

.botão.saiba_mais_caminhoes {
    background: linear-gradient(to right, #C0E079, #98BA55);
    text-shadow: 1px 1px 0 #000;
    border-color: #98Ba55;
}

.botão.saiba_mais_caminhoes:hover {
    color: #7C9841;
    border-color: #7c9841
}

.botão.saiba_mais_rastreamento {
    background: linear-gradient(to right, rgb(224, 121, 121), rgb(186, 85, 85));
    text-shadow: 1px 1px 0 #000;
    border-color: #98Ba55;
}

.botão.saiba_mais_rastreamento:hover {
    color: rgb(152, 65, 65);
    border-color: #984141
}

.botão.saiba_mais_smartphone {
    background: linear-gradient(to right, rgb(129, 121, 224), #414598);
    text-shadow: 1px 1px 0 #000;
    border-color: #98Ba55;
}

.botão.saiba_mais_smartphone:hover {
    color: rgb(152, 65, 65);
    border-color: #414598
}

#sectionCliente {
    width: 100%;
    height: 359px;
    background-color: #FFFFFF;
}

#sectionCliente h1 {
    text-align: center;
    padding-top: 10px;
}

#conteudoCliente {
    height: 200px;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 250px 250px 250px;
}

#conteudoCliente article {
    margin: 10px;

}

figcaption.text-client {
    text-align: justify;
    color: #000;
}

#containerrodape {
    height: 350px;
    width: 100%;
}

#rodape {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}


#rodape_comentario,
#rodape_nav,
#caixa_formulario {
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
}

.rodape_title {
    text-align: center;
}

#rodape_nav li a {
    height: 25px;
}

#rodape_comentario li {
    list-style: none;
    margin-bottom: 15px;
}

#caixa_formulario label {
    display: block;
    margin-top: 10px;
}

#caixa_formulario input {
    border-radius: 5px;
    height: 25px;
    padding-left: 5px;
}

#caixa_formulario textarea {
    border-radius: 5px;
    height: 100px;
    padding-left: 5px;
}

#caixa_formulario input,
#caixa_formulario textarea {
    border-radius: 5px;
    padding-left: 5px;
    color: #FFF;
    background-color: #333333;
    border: 1px solid #666666
}

#botoes {
    display: flex;
    margin-top: 10px;
}

#caixa_formulario input[type=submit],
#caixa_formulario input[type=reset] {
    background-color: #FF9900;
    margin-left: 10px;
    cursor: pointer;
    color: #232323
}

#caixa_formulario input[type=submit] {
    margin-left: 0px;
}

#rodape_nav li {
    display: flex;
    margin: 5px 0;

}

#rodape_nav li a {
    padding: 5px 0;
}